section {
  height: 100%;
  min-width: 485px;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 20px;
}
app-channel-channel-message {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
