.animation-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    z-index: 3;
    overflow: hidden;
    animation: fadeOutContainer 1.5s ease-in-out forwards;
    animation-delay: 2s;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 64px;
        font-weight: 700;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        animation: moveLogo 1s ease-in-out forwards;
        animation-delay: 1.5s;


        img {
            width: 180px;
            transform: translateX(162px);
            animation: fadeInImage 0.5s ease-in-out forwards, shrinkImg 1s ease-in-out forwards;
            animation-delay: 0.5s, 1.5s;
        }

        .title {
            white-space: nowrap;
            opacity: 0;
            animation: fadeInTitle 0.5s ease-in-out forwards, shrinkTitle 1s ease-in-out forwards;
            animation-delay: 1s, 1.5s;
        }
    }

    @keyframes fadeInImage {
        from {
            transform: translateX(162px);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes shrinkTitle {
        from {
            opacity: 1;
            font-size: 64px;
            color: white;

        }

        to {
            opacity: 0;
            font-size: 36px;
            color: black;
        }
    }

    @keyframes fadeInTitle {
        from {
            opacity: 0;
            transform: translateX(-96px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes moveLogo {
        from {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        to {
            top: 75px;
            left: 75px;
            transform: translate(0, 0);
            gap: 16px;
        }
    }

    @keyframes shrinkImg {
        from {
            width: 180px;
        }

        to {
            width: 70px;
        }
    }

    @keyframes fadeOutContainer {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}

// responsive
@media(max-width: 600px) {
    .animation-container {
        animation: fadeOutContainer 1s ease-in-out forwards;
        animation-delay: 2s;

        .logo {
            font-size: 36px;
            gap: 16px;
            animation: moveLogoMobile 0.75s ease-in-out forwards;
            animation-delay: 1.5s;

            img {
                width: 90px;
                animation: fadeInImage 0.5s ease-in-out forwards, shrinkImgMobile 1s ease-in-out forwards;
                animation-delay: 0.5s, 1.5s;
            }

            .title {
                animation: fadeInTitle 0.5s ease-in-out forwards, shrinkTitleMobile 1s ease-in-out forwards;
                animation-delay: 1s, 1.5s;
            }
        }
    }

}

@keyframes moveLogoMobile {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        top: 75px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes shrinkImgMobile {
    from {
        width: 90px;
    }

    to {
        width: 70px;
    }
}

@keyframes shrinkTitleMobile {
    from {
        opacity: 1;
        font-size: 36px;
        color: white;
    }

    to {
        opacity: 0;
        font-size: 36px;
        color: black;
    }
}