.forgot-password-btn {
    display: flex;
    justify-content: center;

    a {
        font-family: 'Figtree', sans-serif;
        font-weight: 400;
        color: #797EF3;
        padding: 5px 15px;
        text-decoration: none;
        transition: ease-in 100ms;

        &:hover {
            font-weight: 500;
            background-color: #ECEEFE;
            border-radius: 30px;
        }
    }
}

.login-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ADB0D9;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
        background: white;
        padding: 0 10px;
    }
}

.google-btn {
    font-family: inherit;
    font-size: inherit;
    color: #444DF2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 32px;
    background-color: #ECEEFE;
    border-radius: 100px;
    border: #ECEEFE solid 1px;
    transition: ease-out 100ms;
    gap: 10px;
    width: 100%;
    cursor: pointer;

    &:hover {
        border: #444DF2 solid 1px;
        font-weight: 700;
    }
}

.submit-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.sign-up-container-mobile {
    display: none;
}

@media(max-width: 992px) {
    .sign-up-container-desktop {
        display: none !important;
    }

    .sign-up-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 480px) {
    .legal-links {
        display: none !important;
    }

    .submit-btns {
        gap: 15px;
    }
}

@media(max-width: 400px) {

    .btn-blue,
    .btn-white {
        padding: 6px 13px;
        font-size: 16px;
    }

    .submit-btns {
        gap: 8px;
    }
}

@media(max-height: 700px) {
    .login-divider {
        margin: 5px 0 15px;
    }

    .google-btn {
        padding: 12px 25px;

        img {
            height: 22px;
        }
    }
}