<app-intro-animation *ngIf="this.loginService.showIntroAnimation"></app-intro-animation>
<div class="header">
    <img src="./../../assets/img/logo_small.svg" alt="DABubble Logo">
    <div class="sign-up-container-desktop">
        <span>Neu bei DABubble?</span>
        <a class="link-btn" routerLink="sign-in">Konto erstellen</a>
    </div>
</div>
<div class="login-container">
    <h1>Anmeldung</h1>
    <div class="info-text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</div>
    <form [formGroup]="profileForm">
        <div class="inputfield-container">
            <img src="./../../../assets/icons/mail_icon.svg">
            <input id="email" type="email" formControlName="email" required placeholder="beispielname@email.com"
                (focus)="inputFocusOn()">
        </div>
        <div class="inputfield-container">
            <img src="./../../../assets/icons/password_icon.svg">
            <input id="password" type="password" formControlName="password" placeholder="Passwort"
                (focus)="inputFocusOn()">
        </div>
        <div class="alert">
            {{ this.loginService.wrongMailOrPassword }}
        </div>
    </form>
    <div class="forgot-password-btn">
        <a routerLink="reset-password">Passwort vergessen?</a>
    </div>
    <div class="login-divider">
        <span>ODER</span>
    </div>
    <button class="google-btn" (click)="loginWithGoogle()">
        <img src="./../../../assets/img/google_logo.svg">
        <span>Anmelden mit Google</span>
    </button>
    <div class="submit-btns">
        <button [disabled]="!profileForm.valid" class="btn-blue" [class.btn-inactive]="!profileForm.valid"
            (click)="login()">Anmelden</button>
        <button class="btn-white" (click)="loginGuestUser()">Gäste-Login</button>
    </div>
</div>

<div class="footer">
    <div class="sign-up-container-mobile">
        <span>Neu bei DABubble?</span>
        <a class="link-btn" routerLink="sign-in">Konto erstellen</a>
    </div>
    <div>
        <a class="link-btn" routerLink="legal-notice">Impressum</a>
        <a class="link-btn" routerLink="privacy-policy">Datenschutz</a>
    </div>
</div>