<div class="main-messages">
  <div class="main-messages-container" id="messagesContent" #messagesContent>
    <app-message-content [mainChat]="true" [list]="this.chatService.sortedMessages"></app-message-content>

    <div
      *ngIf="chatService.sortedMessages.length === 0"
      class="message-no-content"
    >
      <div># {{ chatService.getChannelName() }}</div>
      <span
        >Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
        # {{ chatService.getChannelName() }}</span
      >
    </div>
  </div>
</div>
