.main-messages {
  min-height: 100%;
  display: flex;
  .main-messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  .message-no-content {
    padding: 20px 45px;
  }
}
