<div class="main-messages" id="messagesContent">
  <div class="main-messages-container">
    <div *ngFor="let msg of chatService.getSortMessages(); let i = index" class="message-content">
      <div class="message-header" *ngIf="chatService.checkNextDay(i)">
        <div class="stroke"></div>
        <div class="message-header-time">
          {{ chatService.getFormattedDate(msg.timestamp, i) }}
        </div>
        <div class="stroke"></div>
      </div>
      <div
        class="message-container"
        [ngStyle]="{
          'flex-direction':
            msg.user === this.chatService.eingeloggterUser
              ? 'row-reverse'
              : 'row'
        }"
      >
        <img
          class="message-pic"
          src=".\assets\pics\{{ chatService.renderMessagePic(i) }}"
        />
        <div class="message-body">
          <div
            class="message-nav"
            [ngStyle]="{
              'flex-direction':
                msg.user === this.chatService.eingeloggterUser
                  ? 'row-reverse'
                  : 'row'
            }"
          >
            <div
              class="message-name-nav"
              [ngStyle]="{
                'flex-direction':
                  msg.user === this.chatService.eingeloggterUser
                    ? 'row-reverse'
                    : 'row'
              }"
            >
              <div class="message-name">{{ msg.user }}</div>
              <div class="message-time">
                {{ chatService.getMessageTime(msg.timestamp) }} Uhr
              </div>
            </div>
            <div class="message-icon-nav" *ngIf="!msg.editing">
              <div class="icon-check icon-message"></div>
              <div class="icon-raising icon-message"></div>
              <div class="icon-emoji icon-message"></div>
              <div
                class="icon-comment icon-message"
                (click)="chatService.toggleThread()"
              ></div>
              <!-- <div
              *ngIf="msg.name === this.chatService.eingeloggterUser"
              class="icon-more icon-message"
            ></div> -->
              <div
                mat-button
                [matMenuTriggerFor]="editMsg"
                *ngIf="msg.user === this.chatService.eingeloggterUser"
                class="icon-more icon-message"
              ></div>
              <mat-menu #editMsg="matMenu">
                <button
                  mat-menu-item
                  (click)="editMessage(i)"
                  class="edit-menu"
                >
                  Nachricht bearbeiten
                </button>
              </mat-menu>
            </div>
          </div>
          <div>
            <div
              *ngIf="!msg.editing"
              [ngClass]="{
                'message-text-owner':
                  msg.user === this.chatService.eingeloggterUser,
                'message-text': msg.user !== this.chatService.eingeloggterUser
              }"
            >
              {{ msg.message }}
            </div>
            <div class="message-text-edit" *ngIf="msg.editing">
              <textarea
                class="main-input-edit-field"
                cdkTextareaAutosize
                [id]="'input_' + i"
                >{{ msg.message }}</textarea
              >
              <div class="edit-nav">
                <div class="edit-icon"></div>
                <div class="message-text-edit-nav">
                  <div class="abort" (click)="abortEditMessage(i)">
                    Abbrechen
                  </div>
                  <div class="save" (click)="saveEditMessage(i)">Speichern</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="message-nav-footer"
            [ngStyle]="{
              'flex-direction':
                msg.user === this.chatService.eingeloggterUser
                  ? 'row-reverse'
                  : 'row'
            }"
          >
            <!-- <div class="message-answer" (click)="chatService.toggleThread()"> -->
            <div class="message-answer" (click)="chatService.toggleThread()">
              2 answer
            </div>
            <div class="message-time">last message</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
