<div
  class="message-nav"
  [ngStyle]="{
    'flex-direction':
      msg.senderId === this.chatService.eingeloggterUser ? 'row-reverse' : 'row'
  }"
>
  <div
    *ngIf="chatService.editFlaggIndex != i"
    class="message-name-nav"
    [ngStyle]="{
      'flex-direction':
        msg.senderId === this.chatService.eingeloggterUser
          ? 'row-reverse'
          : 'row'
    }"
  >
    <div class="message-name" (click)="openUserDetails()">
      {{ msg.senderId }}
    </div>
    <div class="message-time">
      {{ chatService.getMessageTime(msg.timestamp) }} Uhr
    </div>
  </div>
  <div class="position-nav" [ngClass]="msg.senderId === this.chatService.eingeloggterUser
        ? 'left'
        : 'right'
  ">
    <div
      class="message-icon-nav"
      *ngIf="chatService.editFlaggIndex === -1"
      [class.hover-effect]="isHover === i"
    >
      <div
        class="icon-check icon-message"
        (click)="addReaction('Check', i)"
      ></div>
      <div
        class="icon-raising icon-message"
        (click)="addReaction('Raising', i)"
      ></div>
      <div
        class="icon-emoji icon-message"
        mat-button
        [matMenuTriggerFor]="emojiMenu"
      ></div>
      <mat-menu #emojiMenu="matMenu">
        <div style="display: flex; flex-direction: row">
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="addReaction('Check', i)"
          >
            <img src=".\assets\icons\check.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="addReaction('Raising', i)"
          >
            <img src=".\assets\icons\raising.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="addReaction('Rocket', i)"
          >
            <img src=".\assets\icons\rocket.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="addReaction('Nerd', i)"
          >
            <img src=".\assets\icons\nerd.png" />
          </div>
        </div>
      </mat-menu>
      <div
        class="icon-comment icon-message"
        (click)="chatService.toggleThread(i)"
      ></div>
      <div
        mat-button
        [matMenuTriggerFor]="editMsg"
        *ngIf="msg.senderId === this.chatService.eingeloggterUser"
      >
        <div class="icon-more icon-message"></div>
      </div>
      <mat-menu #editMsg="matMenu">
        <button mat-menu-item (click)="editMessage(i)" class="edit-menu">
          Nachricht bearbeiten
        </button>
      </mat-menu>
    </div>
  </div>
</div>
