<div
  class="message-nav"
  [ngStyle]="{
    'flex-direction':
      msg.senderId === this.chatService.currentUser ? 'row-reverse' : 'row'
  }"
>
  <div
    *ngIf="flagg != i"
    class="message-name-nav"
    [ngStyle]="{
      'flex-direction':
        msg.senderId === this.chatService.currentUser
          ? 'row-reverse'
          : 'row'
    }"
  >
    <div class="message-name" (click)="openUserDetails()">
      {{ users.getUserName(msg.senderId) }}
    </div>
    <div class="message-time">
      {{ chatService.getMessageTime(msg.timestamp) }} Uhr
    </div>
  </div>
  <div
    class="position-nav"
    [ngClass]="
      msg.senderId === this.chatService.currentUser ? 'left' : 'right'
    "
  >
    <div
      class="message-icon-nav"
      *ngIf="chatService.editFlaggIndex === -1"
      [class.hover-effect]="isHover === i"
    >
      <div
        *ngIf="mainChat"
        class="icon-check icon-message"
        (click)="chatService.addReaction('Check', i, list, mainChat)"
      ></div>
      <div
        *ngIf="mainChat"
        class="icon-raising icon-message"
        (click)="chatService.addReaction('Raising', i, list, mainChat)"
      ></div>
      <div
        class="icon-emoji icon-message"
        mat-button
        [matMenuTriggerFor]="emojiMenu"
      ></div>
      <mat-menu #emojiMenu="matMenu">
        <div style="display: flex; flex-direction: row">
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="chatService.addReaction('Check', i, list, mainChat)"
          >
            <img src=".\assets\icons\check.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="chatService.addReaction('Raising', i, list, mainChat)"
          >
            <img src=".\assets\icons\raising.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="chatService.addReaction('Rocket', i, list, mainChat)"
          >
            <img src=".\assets\icons\rocket.png" />
          </div>
          <div
            mat-menu-item
            class="icon-check icon-message"
            (click)="chatService.addReaction('Nerd', i, list, mainChat)"
          >
            <img src=".\assets\icons\nerd.png" />
          </div>
        </div>
      </mat-menu>
      <div
        *ngIf="mainChat"
        class="icon-comment icon-message"
        (click)="chatService.setCurrentThread(i, msg.id)"
        ></div>
      <div
        mat-button
        [matMenuTriggerFor]="editMsg"
        *ngIf="msg.senderId === this.chatService.currentUser"
      >
        <div class="icon-more icon-message"></div>
      </div>
      <mat-menu #editMsg="matMenu">
        <button mat-menu-item (click)="editMessage(i)" class="edit-menu">
          Nachricht bearbeiten
        </button>
      </mat-menu>
    </div>
  </div>
</div>
