<div class="add-channel-user-dialog">
    <mat-dialog-content class="content">
        <div class="headline">
            <span>Leute hinzufügen</span>
            <div class="close-button" (click)="onNoClick()"></div>
        </div>
        <div class="input-container">
            <label (click)="allUsersSelect()" class="input-element">
                <input type="radio" value="all" [checked]="allUsersChoose" />
                <span>Alle Mitglieder hinzufügen</span>
            </label>
            <label (click)="costumUsersSelect()" class="input-element">
                <input type="radio" [checked]="!allUsersChoose" />
                <span>Bestimmte Leute hinzufügen</span>
            </label>
            <div #userfield *ngIf="!allUsersChoose" class="userfield">

                <div class="user">
                    <img [src]="currentUser.photoURL" alt="">
                    <span>Du</span>
                    <div class="user-delete"></div>
                </div>
                <div class="user" *ngFor="let user of this.selectedUsers" (click)="deleteUserFromList(user.id)">
                    <img [src]="user.photoURL" alt="">
                    <span>{{user.name}}</span>
                    <div class="user-delete"></div>
                </div>

                <div class="name-input">
                    <input #searchInput (input)="input$.next(searchInput.value)" [(ngModel)]="inputValue" type="text"
                        placeholder="Name eingeben">

                </div>
            </div>
        </div>
        <div class="drop-down-container" *ngIf="dropDownList">
            <div class="drop-down-list">
                <div class="user-list-element" *ngFor="let user of filteredUsers" (click)="selectUser(user.id)">
                    <app-user-pic class="user-pic-size" [status]="true" [online]="user.status"
                        [userImageName]="user.photoURL"></app-user-pic>
                    <span>{{user.name}}</span>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button (click)="createChannel()" [disabled]="buttonDisable" class="btn-blue">Erstellen</button>
        </div>

    </mat-dialog-content>
</div>