<div class="add-channel-user-dialog">
    <mat-dialog-content class="content">
        <div class="headline">
            <span>Leute hinzufügen</span>
            <div class="close-button" (click)="onNoClick()"></div>
        </div>

        <form [formGroup]="form">
            <div class="input-container">
                <label (click)="allUsersSelect()" class="input-element">
                    <input type="radio" value="all" [checked]="allUsersChoose" />
                    <span>Alle Mitglieder hinzufügen</span>
                </label>
                <label (click)="costumUsersSelect()" class="input-element">
                    <input type="radio" [checked]="!allUsersChoose" />
                    <span>Bestimmte Leute hinzufügen</span>
                </label>
                <div #userfield *ngIf="!allUsersChoose" class="userfield">


                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>
                    <div class="user">
                        <img [src]="currentUser.photoURL" alt="">
                        <span>{{currentUser.displayName}}</span>
                        <div class="user-delete"></div>
                    </div>


                    <input type="text" placeholder="Name eingeben">
                </div>
            </div>
            <div class="button-container">
                <button (click)="createChannel()" [disabled]="!createButtonActive" class="btn-blue">Erstellen</button>
            </div>
        </form>
    </mat-dialog-content>
</div>