.add-channel-user-dialog {
    width: calc(710px - 80px);
    border-radius: 100px;
}

.content {
    padding: 0 !important;
    height: 100% !important;
    color: black !important;
    font-family: "Nunito", sans-serif !important;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-element {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;

    input {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 20px;
    }
}

input[type='radio'] {
    width: 20px;
    accent-color: #444DF2;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.userfield {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
    min-height: 48px;
    max-height: 92px;
    border: 1px solid #adb0d9;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 18px;
    overflow-y: scroll;
    transition: all 125ms ease-in-out;
    scrollbar-width: none;

    input {
        margin-left: 5px;
        width: 130px;
        height: 32px;
        border: none;
        outline: none;
        font-size: 18px;
    }

    &:hover {
        border-color: #797EF3;
    }

    &:focus {
        border-color: #444df2;

    }
}

.user:hover .user-delete {
    background-image: url(../../../assets/icons/close_hover.svg);

}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    height: 40px;
    background-color: #ECEEFE;
    border-radius: 20px;
    cursor: pointer;

    img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        object-fit: contain;
    }

    span {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.user-delete {
    width: 10px;
    height: 10px;
    background-image: url(../../../assets/icons/close.svg);
    background-size: contain;
}

.name-input {
    position: relative;
}

.drop-down-container {
    height: 225px;
    width: 630px;
    overflow: hidden;
    position: fixed;
}

.drop-down-list {
    background-color: white;
    height: 225px;
    width: 630px;
    border-radius: 20px;
    overflow: auto;

    &::-webkit-scrollbar {
        height: 90%;
    }
}

.drop-down-list::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 22px;
}

.user-list-element {
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transition: all 125ms ease-in-out;
        color: #535AF1;
    }
}

.user-pic-size {
    display: block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-left: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        padding: 25px !important;
    }

    .add-channel-user-dialog {
        width: 100vw;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 599px) and (max-width: 1200px) {
    .add-channel-user-dialog {
        width: calc(572px - 80px);
        border-radius: 100px;
    }

    .drop-down-container {
        width: 492px;
    }

    .drop-down-list {
        width: 492px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}