<div class="headline-container" mat-dialog-title>
    <div>
        Profile
    </div>
    <div class="close-btn" (click)="onNoClick()">
        Close
    </div>
</div>

<div mat-dialog-content>
    <div class="content-container">
        <img class="user-img" src="assets/img/user_pics/male1.svg" alt="">

        <div class="user-info-container">
            <span class="name">Username</span>
            <div class="active-container">
                <span class="point"></span>
                <span>Active</span>
            </div>
        </div>

        <div class="user-info-container">
            <div class="mail-headline-container">
                <img src="assets/icons/mail.png" alt="">
                <span class="mail-headline">E-mail Adresse</span>
            </div>
            <span class="mail">mail.hmail.com</span>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <div class="user-dialog-footer-container">
        <button class="dialog-footer-btn" mat-button (click)="goToPrivateChannel()">
            <div class="flex-container">
                <img src="assets/icons/comment_white.png" alt="">
                <span>Nachricht</span>
            </div>
        </button>
    </div>
</div>