::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px;
  padding: 40px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 24px;
  font-weight: 700;

  .close-btn {
    position: absolute;
    right: 0px;
    cursor: pointer;
  }
}
input {
  outline: none;
  border: none;
  font-size: 18px;
  width: 100%;
}
.input-border {
  padding: 20px;
  border: 2px solid rgb(173, 176, 217);
  transition: all 0.3s ease;
  border-radius: 30px;
  width: auto;
  &:focus-within {
    border-color: #444df2;
  }
}
.edit {
  color: #535af1;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.125s ease;
  &:hover {
    font-weight: 800;
    color: #444df2;
    transition: all 0.125s ease;
  }
}
.edit-user {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.edit-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.abort {
  border: 1px solid #797ef3;
  color: #444df2;
}
.save {
  background-color: #444df2;
  color: #ffff;
  border: 1px solid transparent;
}
.btn{
  border-radius: 50px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;
  &:hover{
    background-color: #797ef3;
    color: #ffff;
    border: 1px solid transparent;
  }
  &:disabled {
    background-color: #ccc;
    color: #999;
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 420px;
  margin-top: 40px;

  .user-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
    .user-info-container-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .name {
      font-size: 32px;
      font-weight: 700;
    }

    .active-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      color: green;
      font-size: 20px;
      font-weight: 400;

      .point {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: green;
      }
      .active {
        background-color: green;
      }
      .disabled {
        background-color: gray;
      }
    }

    .mail-headline-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .mail {
      padding: 0px 10px 0px 50px;
      color: rgba(19, 129, 255, 1);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-mail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.user-dialog-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  width: 100%;

  .dialog-footer-btn {
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgba(68, 77, 242, 1);
    color: rgba(255, 255, 255, 1) !important;
    transition: ease-in-out 0.2s;

    &:hover {
      scale: 1.05;
    }

    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
@media screen and (max-width:500px){
  .content-container{
    width: 80vw;
  }
  
}