<div class="headline-container" mat-dialog-title>
  <div *ngIf="!edit">Profile</div>
  <div *ngIf="edit">Dein Profil bearbeiten</div>
  <div class="close-btn close-button" (click)="onNoClick()"></div>
</div>

<div mat-dialog-content>
  <div class="content-container">
    <img class="user-img" src="{{ userData.photoURL }}" alt="" />

    <div class="user-info-container"  *ngIf="edit">
      <div class="edit-user">
        <div class="edit-container">
          <img src=".\assets\icons\user_icon.svg" />
          <div>Vollständiger Name</div>
        </div>

        <input type="text" class="input-border" [(ngModel)]="userNameInput" />
      </div>
      <div class="edit-user">
        <div class="edit-container">
          <img src=".\assets\icons\mail_icon.svg" />
          <div>E-Mail-Adresse</div>
        </div>
        <input type="text" class="input-border" [(ngModel)]="userEmailInput" />
      </div>
      <div class="user-dialog-footer-container">
        <button class="abort btn" (click)="abort()">Abbrechen</button>
        <button class="save btn" (click)="save()">Speichern</button>
      </div>
    </div>

    <div class="user-info-container" *ngIf="!edit">
      <div class="user-info-container-header">
        <span class="name">{{ userData.name }}</span>
        <div (click)="editUser()" class="edit" *ngIf="editable">Bearbeiten</div>
      </div>
      <div class="active-container">
        <span
          class="point"
          [ngClass]="{ active: userData.status, disabled: !userData.status }"
        ></span>
        <span *ngIf="userData.status">Aktive</span>
        <span *ngIf="!userData.status">Abwesend</span>
      </div>

      <div class="user-info-container">
        <div class="mail-headline-container">
          <img src="assets/icons/mail.png" alt="" />
          <span class="mail-headline">E-mail Adresse</span>
        </div>
        <span class="mail" (click)="sendEmail(userData.email)">{{
          userData.email
        }}</span>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="user-dialog-footer-container" *ngIf="!edit">
      <button
        class="dialog-footer-btn"
        mat-button
        (click)="goToPrivateChannel(userData.id)"
      >
        <div class="flex-container">
          <img src="assets/icons/comment_white.png" alt="" />
          <span>Nachricht</span>
        </div>
      </button>
    </div>
  </div>
</div>
