<div class="header" *ngIf="chatService.getChannelName().length > 0">
  <div class="channel-title" (click)="openChannelData()">
    <div class="icon icon-tag" src=".\assets\icons\tag.png"></div>
    <div class="title-hover">{{ chatService.getChannelName() }}</div>
    <div class="icon icon-expand"></div>
  </div>
  <div class="header-users-nav">
    <div class="header-profil-position">
      <div>
        <div class="header-profil-number" (click)="openUserDialog()">
          <div class="header-users-img">
            <div
              class="header-pic-container"
              *ngFor="let users of getChannelUsers(); let i = index"
            >
              <img
                class="header-pic"
                src="{{ getUserPicFromChannel(users) }}"
              />
            </div>
          </div>
          <div class="header-number">
            {{ getChannelUsersLength() }}
          </div>
        </div>
      </div>
      <div class="user-dialog-container" *ngIf="userDialog">
        <div class="dialog-title">
          <div class="title">Mitglieder</div>
          <div class="close-button" (click)="closeAllDialog()"></div>
        </div>
        <div class="user-list">
          <div *ngFor="let user of getChannelUsers()">
            <div class="user" (click)="openUserDetails(user)">
              <app-user-pic
                class="user-pic"
                [status]="true"
                [online]="getUserStatus(user)"
                userImageName="{{ users.getUserPic(user) }}"
              ></app-user-pic>
              {{ users.getUserName(user) }}
            </div>
          </div>
        </div>
        <div *ngIf="this.chatService.currentChannel.users.length != 0" class="button-user" (click)="goToAddUser()">
          <div class="header-add-icon icon"></div>
          <span class="add-user-button-text">Mitglieder hinzufügen</span>
        </div>
      </div>
    </div>
    <div class="header-profil-position">
      <div>
        <div class="header-add-icon icon" (click)="addUser()"></div>
      </div>
      <div class="header-dialog-container" *ngIf="addUserDialog">
        <div class="dialog-title">
          <div class="title">Leute hinzufügen</div>
          <div class="close-button" (click)="closeAllDialog()"></div>
        </div>
        <div class="sub-title"># {{ chatService.getChannelName() }}</div>

        <div class="dialog-input">
          <div class="input" *ngIf="addSelectUser">
            <div class="selectInputUser" (click)="openUserDetails(selectedUser.id)">
              <img
                class="user-select-pic"
                src="{{ selectedUser.photoURL }}"
              />{{ selectedUser.name }}
              <img
                class="close"
                src=".\assets\icons\close.svg"
                (click)="closeUser()"
              />
            </div>
          </div>
          <input
            *ngIf="!addSelectUser"
            class="input"
            type="text"
            placeholder="Name eingeben"
            [(ngModel)]="inputAddUser"
          />
          <div *ngIf="!addSelectUser">
            <div
              class="choose-user"
              *ngIf="inputAddUser.length > 0 && filterUserList().length > 0"
            >
              <div
                *ngFor="let user of filterUserList()"
                class="user"
                (click)="selectUser(user)"
              >
                <div class="user-pic">
                  <app-user-pic
                    [status]="true"
                    [online]="user.status"
                    userImageName="{{ user.photoURL }}"
                  ></app-user-pic>
                </div>
                {{ user.name }}
              </div>
            </div>
          </div>
        </div>

        <div class="dialog-button-container">
          <button
            class="add-button"
            [disabled]="checkUserExists()"
            (click)="addUserToChannel()"
          >
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showBg" class="dialog-background" (click)="closeAllDialog()"></div>
