<div class="header">
  <div class="channel-title">
    <div class="icon icon-tag" src=".\assets\icons\tag.png"></div>
    <div class="title-hover" >{{ chatService.getChannelName() }}</div>
    <div class="icon icon-expand"></div>
  </div>
  <div class="header-users-nav">
    <div class="header-profil-number">
      <div class="header-users-img">
        <div
          class="header-pic-container"
          *ngFor="let users of chatService.getChannelUsers() let i = index"
        >
          <img class="header-pic" src=".\assets\pics\{{ getUserPic(users) }}" />
        </div>
      </div>
      <div class="header-number">
        {{ getChannelUsersLength() }}
      </div>
    </div>
    <div class="header-add-icon icon"></div>
  </div>
</div>
