.channel-list-element {
    padding-left: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.img-container {
    width: 22px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;

    &:hover {
        padding: 0px;
    }
}


.button {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transition: all 125ms ease-in-out;
        background-color: #ECEEFE;
        border-radius: 12.25px;
        color: #535AF1;
    }

    &:active {
        color: black;
    }

    img {
        margin-right: 10px;
    }
}

.button img:nth-child(2),
img:nth-child(3) {
    display: none;
}

.button:hover img:nth-child(1) {
    display: none;
}

.button:hover img:nth-child(2) {
    display: block;
}

.button:active img:nth-child(1) {
    display: none;
}

.button:active img:nth-child(2) {
    display: none;
}

.button:active img:nth-child(3) {
    display: block;
}

.button-active {
    background-color: #ECEEFE;
    border-radius: 12.25px;
    color: #535AF1;
    font-weight: 700;

    img:nth-child(1) {
        display: none;
    }

    img:nth-child(2) {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .channel-list-element {
        color: #535AF1;
    }
}