<div>
  <div
    *ngIf="flagg != i"
    [ngClass]="{
      'message-text-owner': msg.senderId === this.chatService.currentUser,
      'message-text': msg.senderId !== this.chatService.currentUser
    }"
    [class.hover-effect]="
      isHover === i && msg.senderId !== this.chatService.currentUser
    "
  >
    <div class="message-files" >
      <div *ngIf="files.length > 0" style="padding: 12px">
        <img class="file" src=".\assets\icons\attach_file_add.svg" />
        <div *ngFor="let file of files"><a class="download-file" (click)="downloadFile(file)">{{ file.metaData.customMetadata.originalName }}</a> </div>
      </div>
      <div #fileContent *ngFor="let file of msg.files"></div>
    </div>
    <div>
      {{ msg.content }}
    </div>
  </div>
  <div class="message-text-edit" *ngIf="flagg === i">
    <textarea
      *ngIf="mainChat"
      class="main-input-edit-field"
      cdkTextareaAutosize
      [id]="'input_' + i"
      >{{ msg.content }}</textarea
    >
    <textarea
      *ngIf="!mainChat"
      class="main-input-edit-field"
      cdkTextareaAutosizes
      [id]="'inputThread_' + i"
      >{{ msg.content }}</textarea
    ><emoji-mart
      class="emojis"
      *ngIf="isEmojiPickerVisible"
      (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"
    ></emoji-mart>
    <div class="edit-nav">
      <div
        class="edit-icon"
        (click)="isEmojiPickerVisible = !isEmojiPickerVisible"
      ></div>
      <div class="message-text-edit-nav">
        <div class="abort" (click)="abortEditMessage()">Abbrechen</div>
        <div class="save" (click)="saveEditMessage(i, mainChat)">Speichern</div>
      </div>
    </div>
  </div>
</div>
