<section>
    <div class="channel-description-container" (click)="openDialog()">
        <span class="mark">#</span>
        <span class="name">Angular</span>
        <img class="arrow-down" src="assets/img/arrow_down.svg" alt="">
    </div>

    <div class="channel-member-container">
        <div class="members-box">
            <app-user-pic [status]="true" [online]="true" [userImageName]="'male1.svg'" class="user-pic-size pic-overlay" ></app-user-pic>
            <app-user-pic [status]="true" [online]="true" [userImageName]="'male1.svg'" class="user-pic-size pic-overlay"></app-user-pic>
            <app-user-pic [status]="true" [online]="true" [userImageName]="'male1.svg'" class="user-pic-size pic-overlay"></app-user-pic>
        </div>

        <div class="add-member-btn">
            <img class="user-pic-size add-member-btn" src="assets/img/add_member.svg" alt="">
        </div>
    </div>
</section>