<div class="add-channel-dialog">
    <mat-dialog-content class="content">
        <div class="headline">
            <span>Channel erstellen</span>
            <div class="close-button" (click)="onNoClick()"></div>
        </div>
        <div class="description">
            <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
                Beispiel.</span>
        </div>
        <form [formGroup]="channelForm">

            <div class="input-headline">
                <span>Channel-Name</span>
            </div>
            <div class="input-container">
                <img src="../../../assets/img/tag_grey.svg" alt="">
                <input class="input input-tag" maxlength="17" type="text" formControlName="channelName"
                    placeholder="z.B. Kooperationsprojekte">
            </div>

            <div class="input-headline">
                <span>Beschreibung</span>
                <span class="optional"> (optional)</span>
            </div>
            <div class="input-container">
                <input class="input" type="text" formControlName="channelDescription" placeholder="Dein Text hier">
            </div>
            <div class="button-container">
                <button (click)="nextUserChoose()" [disabled]="!channelForm.valid || createButtonActive "
                    class="btn-blue">Erstellen</button>
            </div>
        </form>
    </mat-dialog-content>
</div>