.add-channel-dialog {
    width: calc(872px - 80px);
    height: calc(539px - 80px);
    border-radius: 100px;
}

.content {
    padding: 0 !important;
    height: 100% !important;
    color: black !important;
    font-family: "Nunito", sans-serif !important;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.input-headline {
    font-size: 18px;
    font-weight: 700;
}

.input-container {
    position: relative;

    img {
        position: absolute;
        padding-top: 18.5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    input {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.input-tag {
    padding: 15px 63px;
}

.optional {
    color: #686868 !important;
    font-weight: 400 !important;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .add-channel-dialog {
        width: 100vw;
        height: 100vh;
    }

    .content {
        padding: 25px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .add-channel-dialog {
        width: calc(572px - 80px);
        height: calc(560px - 80px);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}