<section>
    <div class="header">
      <div class="user-info" (click)="openUserDetails()">
        <app-user-pic class="user-pic-size" [status]="true" [online]="true" [userImageName]="'male1.svg'"></app-user-pic>
        <span>Username</span>
      </div>
    </div>

    <div class="chat-container">
        <div class="empty-chat-opener">
            <div class="user-box">
                <img class="user-pic-chat" src="assets/img/user_pics/male2.svg" alt="">
                <span class="user-name-chat">Username</span>
            </div>
            <span class="info-text">Diese Unterhalung findet nur zwischen <span class="receiver-name-chat"(click)="openUserDetails()">&commat;Username</span> und dir statt.</span>
        </div>
    </div>

    <app-main-content-footer class="footer-input"></app-main-content-footer>
  </section>
