<div class="main-input-container">
  <textarea
    [ngModel]="textareaContent"
    class="main-input-field"
    placeholder="Nachricht an # {{ chatService.getChannelName() }}"
  ></textarea>
  <div class="main-inputfield-container">
    <div class="main-input-icons-nav">
      <!-- <app-icon-hover-change-image class="icon" [unhovered]="'../../../../assets/icons/add.png'" [hovered]="'../../../../assets/icons/add_hover.png'"></app-icon-hover-change-image> -->
      <button class="icon-add inputfield-icon icon"></button>
      <div class="stroke-icons-nav"></div>
      <!-- <app-icon-hover-change-image class="icon" [unhovered]="'../../../../assets/icons/sentiment_satisfied.png'" [hovered]="'../../../../assets/icons/sentiment_satisfied_hover.png'"></app-icon-hover-change-image>
        <app-icon-hover-change-image class="icon" [unhovered]="'../../../../assets/icons/alternate_email.png'" [hovered]="'../../../../assets/icons/alternate_email_hover.png'"></app-icon-hover-change-image> -->

      <button class="icon-smile inputfield-icon icon"></button>
      <button class="icon-ad inputfield-icon icon"></button>
    </div>
    <button
      class="main-input-confirm inputfield-icon"
      [disabled]="textareaContent.length === 0"
      (click)="sendMessage()"
    ></button>
  </div>
</div>
