.mention-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.mention-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.main-input-box {
  position: relative;
  min-height: 77px;
  height: auto;
}

.file-img {
  padding: 24px;
  max-width: 250px;
  max-height: 200px;
}

.file-container {
  display: flex;
  flex-wrap: wrap;

  .file {
    height: 50px;
    padding: 12px;
  }
}

.user-list {
  position: absolute;
  border: 1px solid #444df2;
  border-radius: 25px;
  bottom: 75px;
  left: 24px;
  background-color: #ffff;
  padding: 12px;
  overflow: scroll;
  max-height: 45vh;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 4px 20px 4px 20px;
  border-radius: 35px;
  gap: 15px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    color: #535af1;
  }
}

.user-pic {
  position: relative;

  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.main-input-container {
  position: relative;
  margin: 0 45px 40px 45px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  min-height: 145px;

  &:focus-within {
    border-color: #444df2;
  }

  .emojis {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .main-input-field {
    background-color: transparent;
    min-height: calc(100% - 80px);
    width: calc(100% - 20px);
    border: none;
    resize: none;
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .main-inputfield-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 20px 20px;
  }

  .main-input-confirm {
    right: 0;
    bottom: 64px;
    padding: 8px;
    background-image: url("/assets/icons/send.png");
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-image: url("/assets/icons/send_hover.png");
    }
  }

  .main-input-icons-nav {
    left: 65px;
    bottom: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .stroke-icons-nav {
    width: 0;
    height: 40px;
    border: 0.5px solid #adb0d9;
  }

  .inputfield-icon {
    height: 24px;
    width: 24px;
    padding: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .inputfield-data {
    display: block;
    height: 24px;
    width: 24px;
    padding: 12px;
    background-repeat: no-repeat;
    background-position: center;

  }

  .icon-add {
    background-image: url("/assets/icons/add.png");
    transition: all 0.3s;

    &:hover {
      background-image: url("/assets/icons/add_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }

  .icon-smile {
    background-image: url("/assets/icons/sentiment_satisfied.png");
    transition: all 0.3s;

    &:hover {
      background-image: url("/assets/icons/sentiment_satisfied_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }

  .icon-ad {
    background-image: url("/assets/icons/alternate_email.png");
    transition: all 0.3s;

    &:hover {
      background-image: url("/assets/icons/alternate_email_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }
}

button {
  border: none;
  background-color: transparent;
}

.icon {
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: #eceefe;
  }
}

@media only screen and (max-width: 599px) {
  .main-input-container {
    margin: 0 15px 40px 15px;
  }
}