.arrow-back {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
}

.text-gray {
    color: #686868;
    font-size: 20px;
    text-align: center;
}

.btn-inactive {
    opacity: 0.5;
    cursor: not-allowed;
}