.channel-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.category {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.category:hover img:nth-child(2),
.category:hover img:nth-child(4) {
    display: block;
}

.category:hover img:nth-child(1),
.category:hover img:nth-child(3) {
    display: none;
}

.category:hover span {
    color: #535AF1;
}

.category:active span {
    color: black;
}

.category img:nth-child(2),
img:nth-child(4) {
    display: none;
}


.dropdown-arrow-open {
    margin-right: 25px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.dropdown-arrow-close {
    margin-right: 25px;
    cursor: pointer;
    rotate: -90deg;
    transition: all 225ms ease-in-out;
}

.channel-logo {
    margin-right: 10px;
}


.dropdown-menu-open {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;

}

.dropdown-menu-close {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.inner {
    overflow: hidden;
}