.channel-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.dropdown-arrow{
    margin-right: 25px;
}

.channel-logo{
    margin-right: 10px;
}
