<section>
    <textarea class="input" placeholder="Starte eine neue Nachricht" type="text"></textarea>
    <div class="input-bottom-line">
        <div class="interact-btns-container">
            <img src="assets/img/plus_light.svg" alt="">
            <div class="seperator"></div>
            <img src="assets/img/smiley_light.svg" alt="">
            <img src="assets/img/@_light.svg" alt="">
        </div>

        <div class="send-message-btn">
            <img src="assets/img/send_message.svg" alt="">
        </div>
    </div>
</section>