.user-list-element {
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transition: all 125ms ease-in-out;
        border-radius: 29px;
        background-color: #ECEEFE;
    }
}

.user-pic-size {
    display: block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    margin-left: 0px;
}