<div class="card main-content">
  <div class="header">
    <div># Channelname</div>
    <div class="header-users-nav">
      <div class="header-users-img">
        <div>user1</div>
        <div>user2</div>
      </div>
      <img src=".\assets\icons\person_add.png" />
    </div>
  </div>

  <div class="main-messages"></div>

  <div class="main-input-container">
    <textarea class="main-input-field" placeholder="Nachricht an #(channelName)"></textarea>
    <div class="main-input-icons-nav">
      <img class="icon" src=".\assets\icons\add.png">
      <div class="stroke-icons-nav"></div>
      <img class="icon" src=".\assets\icons\sentiment_satisfied.png">
      <img class="icon" src=".\assets\icons\alternate_email.png">
    </div>
    <img class="main-input-confirm" src=".\assets\icons\send.png">
  </div>
</div>
