.main-content {
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 45px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 30px 30px 0 0;
  .header-users-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .header-users-img {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
  }
  .channel-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    padding: 6px 10px;
    text-wrap: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }
    &:hover .icon-tag {
      background-image: url("/assets/icons/tag_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
    &:hover .icon-expand {
      background-image: url("/assets/icons/expand_more.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }
  .icon-tag {
    background-image: url("/assets/icons/tag.png");
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-expand {
    background-image: url("/assets/icons/keyboard_arrow_down.png");
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header-pic-container {
    width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-pic {
    height: 36px;
    border-radius: 30px;
    border: 2px solid var(--White, #fff);
    background: var(--White, #fff);
    object-fit: cover;
  }
  .header-number {
    display: flex;
    align-items: center;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  .header-add-icon-container {
    overflow: hidden;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .header-profil-number {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #eceefe;
      border-radius: 30px;
    }
  }
  .header-add-icon {
    display: flex;
    background-color: #eceefe;
    border-radius: 50%;
    background-image: url("/assets/icons/person_add.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    &:hover {
      background-image: url("/assets/icons/person_add_hover.png");
    }
  }
}

.main-messages {
  .message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 35px;
    .stroke {
      border: 0.5px solid #adb0d9;
      width: 100%;
    }
    .message-header-time {
      display: flex;
      justify-content: center;
      flex: 1;
      white-space: nowrap;
      padding: 5px 15px;
      border-radius: 30px;
      border: 1px solid #adb0d9;
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  height: 100%;
  display: block;
  overflow-y: scroll;
  overflow-anchor: none;
  scroll-behavior: smooth;
  .message-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    gap: 30px;
    padding: 10px 45px;
    transition: all 0.3s;
    &:hover {
      background-color: #eceefe;
    }
  }
  .message-container:hover .message-text {
    background-color: #fff;
  }
  .message-container:hover .message-icon-nav {
    opacity: 1;
    transform: translate(0, -25px);
  }
  .message-icon-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 15px 3px 20px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid #adb0d9;
    background: #fff;
    opacity: 0;
    transition: all 0.3s;
    transform: translate(50px, -25px);
    top: 0;
  }
  .message-pic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .message-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    .message-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .message-name-nav {
        display: flex;
        gap: 20px;
        align-items: center;
      }
      .message-name {
        color: #000;
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        transition: all 0.3s;
        text-wrap: nowrap;
        &:hover {
          color: #444df2;
        }
      }
      .message-time {
        color: #686868;
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-wrap: nowrap;
      }

      .icon-message {
        transition: all 0.3s;
        background-repeat: no-repeat;
        background-position: center;
        padding: 4px;
        height: 24px;
        width: 24px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          border-radius: 20px;
          background-color: #eceefe;
        }
      }
      .icon-check {
        background-image: url("/assets/icons/emoji _white heavy check mark_.png");
      }
      .icon-raising {
        background-image: url("/assets/icons/emoji _person raising both hands in celebration_.png");
      }
      .icon-emoji {
        background-image: url("/assets/icons/add_reaction.png");
        &:hover{
          background-image: url("/assets/icons/add_reaction_hover.png");
        }
      }
      .icon-comment {
        background-image: url("/assets/icons/comment.png");
        &:hover{
          background-image: url("/assets/icons/comment_hover.png");
        }
      }
      .icon-more {
        background-image: url("/assets/icons/more_vert.png");
        &:hover{
          background-image: url("/assets/icons/more_vert_hover.png");
        }
      }
    }
    .message-text {
      padding: 15px;
      border-radius: 0px 30px 30px 30px;
      background: #eceefe;
      color: #000;
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s;
      width: fit-content;
    }
    .message-text-owner {
      padding: 15px;
      border-radius: 30px 0px 30px 30px;
      background: #797ef3;
      color: #000;
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s;
    }
    .message-nav-footer {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .message-answer {
      color: #535af1;
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #444df2;
        font-weight: bold;
      }
    }
  }
}

.main-input-container {
  position: relative;
  margin: 0 45px 40px 45px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  min-height: 145px;
  &:focus-within {
    border-color: #444df2;
  }
  .main-input-field {
    min-height: calc(100% - 80px);
    width: calc(100% - 20px);
    border: none;
    resize: none;
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main-inputfield-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
  .main-input-confirm {
    right: 0;
    bottom: 64px;
    padding: 8px;
    background-image: url("/assets/icons/send.png");
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-image: url("/assets/icons/send_hover.png");
    }
  }
  .main-input-icons-nav {
    left: 65px;
    bottom: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .stroke-icons-nav {
    width: 0;
    height: 40px;
    border: 0.5px solid #adb0d9;
  }
  .inputfield-icon {
    height: 24px;
    width: 24px;
    padding: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-add {
    background-image: url("/assets/icons/add.png");
    transition: all 0.3s;
    &:hover {
      background-image: url("/assets/icons/add_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }
  .icon-smile {
    background-image: url("/assets/icons/sentiment_satisfied.png");
    transition: all 0.3s;
    &:hover {
      background-image: url("/assets/icons/sentiment_satisfied_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }
  .icon-ad {
    background-image: url("/assets/icons/alternate_email.png");
    transition: all 0.3s;
    &:hover {
      background-image: url("/assets/icons/alternate_email_hover.png");
      border-radius: 50%;
      background-color: #eceefe;
    }
  }
}

.icon {
  padding: 8px;
  cursor: pointer;
}
