dclass
<div class="card main-content">
  <div class="header">
    <div class="channel-title">
      <div class="icon icon-tag" src=".\assets\icons\tag.png"></div>
      <div class="title-hover">{{ channel1Test.name }}</div>
      <div class="icon icon-expand"></div>
    </div>
    <div class="header-users-nav">
      <div class="header-profil-number">
        <div class="header-users-img">
          <div
            class="header-pic-container"
            *ngFor="let user of channel1Test.users; let i = index"
          >
            <img
              class="header-pic"
              src=".\assets\pics\{{ getUserPic(user) }}"
            />
          </div>
        </div>
        <div class="header-number">{{ channel1Test.users.length }}</div>
      </div>
      <div class="header-add-icon icon"></div>
    </div>
  </div>

  <div class="main-messages" id="messagesContent">
    <div *ngFor="let msg of sortByTime(); let i = index">
      <div class="message-header" *ngIf="checkNextDay(i)">
        <div class="stroke"></div>
        <div class="message-header-time">
          {{ getFormattedDate(msg.time, i) }}
        </div>
        <div class="stroke"></div>
      </div>
      <div
        class="message-container"
        [ngStyle]="{
          'flex-direction':
            msg.name === eingeloggterUser ? 'row-reverse' : 'row'
        }"
      >
        <img
          class="message-pic"
          src=".\assets\pics\{{ renderMessagePic(i) }}"
        />
        <div class="message-body">
          <div
            class="message-nav"
            [ngStyle]="{
              'flex-direction':
                msg.name === eingeloggterUser ? 'row-reverse' : 'row'
            }"
          >
            <div class="message-name-nav" [ngStyle]="{
              'flex-direction':
                msg.name === eingeloggterUser ? 'row-reverse' : 'row'
            }">
              <div class="message-name">{{ msg.name }}</div>
              <div class="message-time">{{ getMessageTime(msg.time) }} Uhr</div>
            </div>
            <div class="message-icon-nav">
              <div class="icon-check icon-message"></div>
              <div class="icon-raising icon-message"></div>
              <div class="icon-emoji icon-message"></div>
              <div class="icon-comment icon-message"></div>
              <div *ngIf="msg.name === eingeloggterUser" class="icon-more icon-message"></div>
            </div>
          </div>
          <div
            [ngClass]="{
              'message-text-owner': msg.name === eingeloggterUser,
              'message-text': msg.name !== eingeloggterUser
            }"
          >
            {{ msg.msg }}
          </div>
          <div
            class="message-nav-footer"
            [ngStyle]="{
              'flex-direction':
                msg.name === eingeloggterUser ? 'row-reverse' : 'row'
            }"
          >
            <div class="message-answer">2 answer</div>
            <div class="message-time">last message</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-input-container">
    <textarea
      [(ngModel)]="textareaContent"
      class="main-input-field"
      placeholder="Nachricht an # {{ channel1Test.name }}"
    ></textarea>
    <div class="main-inputfield-container">
      <div class="main-input-icons-nav">
        <button class="icon-add inputfield-icon icon"></button>
        <div class="stroke-icons-nav"></div>
        <button class="icon-smile inputfield-icon icon"></button>
        <button class="icon-ad inputfield-icon icon"></button>
      </div>
      <button
        class="main-input-confirm inputfield-icon"
        (click)="sendMessages()"
      ></button>
    </div>
  </div>
</div>
