.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-main-content-body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.chat-containers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

app-channel {
  display: block;
  height: 100%;
  min-width: 350px;
  width: -moz-available;
  max-width: 485px;
}


@media only screen and (max-width: 1200px) {
  app-channel {
    min-width: calc(100vw - 35px);
    width: auto;
    order: -1;
  }
}
@media only screen and (max-width: 599px) {
  app-main-content-header {
    padding-top: 100px;
  }
  app-channel {
    min-width: 100vw ;
  }
}