<div class="login-content">
    <div class="header">
        <img src="./../../assets/img/logo_small.svg" alt="DABubble Logo">
    </div>
    <div class="legal-container">
        <img (click)="navigateToLogin()" class="arrow-back" src="./../../../assets/img/arrow_back.svg">
        <div class="scroll-container">
            <h1>Impressum</h1>

            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>Max Mustermann<br />
                Musterstra&szlig;e 111<br />
                Geb&auml;ude 44<br />
                90210 Musterstadt</p>

            <h2>Kontakt</h2>
            <p>Telefon: +49 (0) 123 44 55 66<br />
                E-Mail: mustermann&#64;musterfirma.de</p>

            <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html"
                    target="_blank">https://www.e-recht24.de/impressum-generator.html</a></p>
        </div>
    </div>
</div>