<div *ngFor="let msg of list; let i = index" class="message-content">
  <div class="message-header" *ngIf="chatService.checkNextDay(i, list)">
    <div class="stroke"></div>
    <div class="message-header-time">
      {{ chatService.getFormattedDate(msg.timestamp, i) }}
    </div>
    <div class="stroke"></div>
  </div>
  <div
    class="message-container"
    (mouseenter)="isHover = i"
    (mouseleave)="isHover = -1"
    [ngStyle]="{
      'flex-direction':
        msg.senderId === this.chatService.eingeloggterUser
          ? 'row-reverse'
          : 'row'
    }"
  >
    <img
      *ngIf="chatService.editThreadFlaggIndex === -1 || mainChat"
      class="message-pic"
      src="{{ chatService.getUserPic(msg.senderId) }}"
    />
    <div class="message-body">
      <app-message-title
        [flagg]="flagg"
        [msg]="msg"
        [i]="i"
        [list]="list"
        [isHover]="isHover"
        [mainChat]="mainChat"
      ></app-message-title>
      <app-message-bubble
        [flagg]="flagg"
        [msg]="msg"
        [i]="i"
        [isHover]="isHover"
        [list]="list"
        [mainChat]="mainChat"
      ></app-message-bubble>
      <app-message-footer
        [flagg]="flagg"
        [msg]="msg"
        [i]="i"
        [list]="list"
        [mainChat]="mainChat"
      ></app-message-footer>
    </div>
  </div>
</div>
