.background {
    position: absolute;
    z-index: 98;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog {
    position: absolute;
    z-index: 99;
    right: 50px;
    top: 105px;
    padding: 45px 40px 45px 40px;
    background-color: white;
    border-radius: 30px 0px 30px 30px;
    width: 500px;

}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.user-pic-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.user-pic-size {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.user-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-name {
    font-size: 32px;
    font-weight: 700;
}

.edit-button {
    font-size: 18px;
    font-weight: 400;
    color: #535AF1;
    cursor: pointer;

    &:hover {
        font-weight: 700;
    }
}

.circle {
    background-color: #92C83E;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    margin-right: 15px;
}

.active-container{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #92C83E;
    margin-bottom: 45px;
}

.mail-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span{
        font-size: 20px;
        font-weight: 700;
    }

    img{
        margin-right: 20px;
    }
}

.mail-adress{
    margin-left: 50px;
    color: #1381FF;
    font-size: 18px;
    font-weight: 500;
}

.submit-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}