<div class="background" (click)="closeDialog()"></div>
<div class="dialog" (click)="doNotClose($event)" *ngIf="!this.editCurrentUser">
    <div class="headline">
        <span>Profil</span>
        <div class="close-button" (click)="currentUserProfileClosed.emit(false)"></div>
    </div>
    <div class="user-pic-container">
        <app-user-pic class="user-pic-size" [status]="false" [online]="false"
            [userImageName]="this.activeUser.photoURL"></app-user-pic>
    </div>
    <div class="user-name-container">
        <span class="user-name">{{this.activeUser.displayName}}</span>
        <span class="edit-button" (click)="editButtonCurrentUser()">Bearbeiten</span>
    </div>
    <div class="active-container">
        <div class="circle"></div>
        <span>Aktive</span>
    </div>
    <div class="mail-container">
        <img src="../../../assets/icons/mail.png" alt="">
        <span>E-Mail-Adresse</span>
    </div>
    <div class="mail-adress">
        <span>{{this.activeUser.email}}</span>
    </div>
</div>

<!-- dialog/current user -  edit -->

<div class="dialog" *ngIf="this.editCurrentUser">
    <div class="headline">
        <span>Profil</span>
        <div class="close-button" (click)="currentUserProfileClosed.emit(false)"></div>
    </div>
    <div class="user-pic-container">
        <app-user-pic class="user-pic-size user-pic-size-edit" [status]="false" [online]="false"
            [userImageName]="this.activeUser.photoURL"></app-user-pic>
    </div>

    <div class="mail-container mail-container-edit">
        <div class="edit-head">
            <img src="../../../assets/img/account_circle.svg" alt="">
            <span>Vollständiger Name</span>
        </div>
        <input [(ngModel)]="activeUser.displayName" placeholder="Vollständiger Name" />
    </div>

    <div class="mail-container mail-container-edit">
        <div class="edit-head">
            <img src="../../../assets/icons/mail.png" alt="">
            <span>E-Mail-Adresse</span>
        </div>
        <input [(ngModel)]="activeUser.email" placeholder="E-Mail-Adresse" />
    </div>
    <div class="alert-message" *ngIf="this.errorMessage">
        Bitte geben Sie einen gültigen Namen und eine gültige E-Mail-Adresse ein.
    </div>
    <div class="submit-btns">
        <button class="btn-white btn-edit" (click)="closeEdit()">Abbrechen</button>
        <button class="btn-blue btn-edit" (click)="saveEdit()">Speichern</button>
    </div>
</div>