.background {
    position: absolute;
    z-index: 98;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu {
    display: none;
    position: absolute;
    z-index: 99;
    right: 50px;
    top: 105px;
    background-color: white;
    border-radius: 30px 0px 30px 30px;
    width: 280px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
}

.button {
    width: max-content;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transition: all 125ms ease-in-out;
        background-color: #ECEEFE;
        border-radius: 12.25px;
    }

    &:active {
        color: #535AF1;
        font-weight: 700;
    }
}



.mobile-menu {
    display: none;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    width: 100vw;
    height: 200px;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    font-size: 20px;
    animation: 0.35s ease-in-out slideIn;

    .button {
        padding: 0 !important;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100vw;
    padding-left: 90px;
}

.line {
    width: 62px;
    height: 6px;
    border-radius: 3px;
    background-color: #D9D9D9;
    margin-bottom: 35px;
}

.button-element {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }
}

.slide-out {
    position: absolute;
    z-index: 99;
    bottom: -210px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    font-size: 20px;
    animation: 0.35s ease-in-out slideOut;

    .button {
        padding: 0 !important;
    }
}

@keyframes slideIn {
    from {
        bottom: -210px;
    }

    to {
        bottom: 0px;
    }
}

@keyframes slideOut {
    from {
        bottom: 0px;
    }

    to {
        bottom: -210px;
    }
}

.background-mobile {
    display: none;
    position: absolute;
    z-index: 98;
    height: 100vh;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .background-mobile {
        display: block;
    }

    .background {
        display: none;
    }
}