<div class="thread-content">
  <div class="thread-content-container">
    <!-- <app-message-content [mainChat]="false" [list]="this.chatService.currentThread"></app-message-content> -->
    <app-message-content [flagg]="this.chatService.editThreadFlaggIndex" [mainChat]="false"
      [list]="this.chatService.currentMsgThread"></app-message-content>
    <app-message-content [flagg]="this.chatService.editThreadFlaggIndex" [mainChat]="false"
      [list]="this.chatService.currentThread"></app-message-content>
  </div>
</div>