.header-menu {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    align-items: center;
    width: calc(100% - 505px);
}

.right-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 111px;
}

.input-container {
    width: calc(100% - 243px);
}

.arrow-down {
    cursor: pointer;
    margin-right: 30px;

    &:hover {
        scale: 1.1;
    }
}

.username {
    font-size: 32px;
    font-weight: 700;
}

.user-pic-size {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu {
    position: absolute;
    inset: 0;
}