<div class="header-menu">
    <div class="left-container">
        <img class="logo" src="../../assets/img/logo_small.svg" alt="">
        <div class="input-container">
            <input type="text" autocomplete="off">
            <div class="search-logo">
                <img src="../../assets/img/magnifying_glass.svg" alt="">
            </div>
        </div>
    </div>
    <div class="right-container">
        <span class="username">Max Mustermann</span>
            <app-user-pic class="user-pic-size" [status]="true" [online]="true" [userImageName]="'male1.svg'"></app-user-pic>
        <img class="arrow-down" src="../../assets/img/arrow_down.svg" alt="">
    </div>
</div>