<div class="header-menu">
    <div class="left-container">
        <img class="logo" src="../../assets/img/logo_small.svg" alt="">
        <div class="input-container">
            <input type="text" autocomplete="off">
            <div class="search-logo">
                <img src="../../assets/img/magnifying_glass.svg" alt="">
            </div>
        </div>
    </div>
    <div class="right-container">
        <span class="username">{{activeUser.displayName}}</span>
        <app-user-pic class="user-pic-size" [status]="true" [online]="true"
            [userImageName]="activeUser.photoURL"></app-user-pic>
        <img class="arrow-down" (click)="drownDownMenuOpen = true" src="../../assets/img/arrow_down.svg" alt="">
    </div>
    <app-current-user-dropdown-menu *ngIf="drownDownMenuOpen" class="dropdown-menu"
        (dropDownMenuClosed)="drownDownMenuOpen = $event"></app-current-user-dropdown-menu> 
</div>