<div class="header-menu">
    <div class="left-container">
        <img class="logo" src="../../assets/img/logo_small.svg" alt="">
        <div class="input-container">
            <input type="text" autocomplete="off">
            <div class="search-logo">
                <img src="../../assets/img/magnifying_glass.svg" alt="">
            </div>
        </div>
    </div>
    <div class="right-container">
        <span class="username">Max Mustermann</span>
        <img style="margin-left: 20px; margin-right: 20px; height: 70px; border-radius: 50vh;"
            src="../../assets/img/user_pics/female1.svg" alt="">
        <img class="arrow-down" src="../../assets/img/arrow_down.svg" alt="">
    </div>
</div>