.header-menu {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    align-items: center;
    width: calc(100% - 505px);
}

.right-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 111px;
}

.input-container {
    width: calc(100% - 243px);
}

.arrow-down {
    cursor: pointer;
    margin-right: 30px;

    &:hover {
        scale: 1.1;
    }
}

.username {
    font-size: 32px;
    font-weight: 700;
}

.user-pic-size {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-menu {
    position: absolute;
    inset: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-menu {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .left-container {
        display: flex;
        align-items: center;
        width: 50px;

        img {
            width: 162px;
            height: 45px;
        }
    }

    .input-container {
        position: absolute;
        top: 110px;
        width: calc(100% - 30px);
    }

    .user-pic-size {
        height: 50px;
        width: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .username {
        display: none;
    }

    .arrow-down {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-menu {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .left-container {
        display: flex;
        align-items: center;
        width: 50px;

        img {
            width: 180px;
        }
    }

    .input-container {
        position: absolute;
        top: 120px;
        margin-left: -15px;
        width: calc(100vw - 40px);
    }

    .user-pic-size {
        height: 60px;
        width: 60px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .username {
        display: none;
    }

    .arrow-down {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-menu {
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .left-container {
        display: flex;
        align-items: center;
        width: calc(100% - 505px);
    }

    .right-container {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 111px;
    }

    .input-container {
        position: absolute;
        top: 140px;
        margin-left: -25px;
        width: calc(100vw - 40px);
    }

    .arrow-down {
        display: block;
        cursor: pointer;
        margin-right: 30px;

        &:hover {
            scale: 1.1;
        }
    }

    .username {
        display: block;
        font-size: 32px;
        font-weight: 700;
    }

    .user-pic-size {
        height: 70px;
        width: 70px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .dropdown-menu {
        position: absolute;
        inset: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .input-container {
        position: initial;
        top: 0px;
        margin-left: 0px;
        width: calc(100% - 243px);
    }

    .header-menu {
        height: auto;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .left-container {
        display: flex;
        align-items: center;
        width: calc(100% - 400px);

        img {
            width: auto;
            height: auto;
        }
    }

    .logo {
        margin-right: 40px;
    }

    .username {
        font-size: 22px;
        font-weight: 700;
    }
}

@media only screen and (min-width: 1500px) {

    .left-container {
        width: calc(100% - 490px) !important;
    }

    .logo {
        margin-right: 111px;
    }

    .username {
        font-size: 30px;
        font-weight: 700;
    }

}