<div class="input-container">
    <input class="input-search" type="text" autocomplete="off">
    <div class="search-logo">
        <img src="../../assets/img/magnifying_glass.svg" alt="">
    </div>
    <div class="dropdown-menu">
        <div class="channel-search-container">
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/tag_click.svg" alt="">
                <span>Channels</span>
                <div class="line-right"></div>
            </div>
            <div class="channel">
                <img src="../../../assets/img/tag.svg" alt="">
                <img src="../../../assets/img/tag_click.svg" alt="">
                <span>Channelname</span>
            </div>
        </div>
        <div class="user-search-container">
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/direct_message_logo_color.svg" alt="">
                <span>Users</span>
                <div class="line-right"></div>
            </div>
            <div class="users">
                <app-user-pic class="user-pic-size" [status]="true" [online]="true"
                    [userImageName]="'./../../../assets/img/user_pics/male4.svg'"></app-user-pic>
                <span>Tobias Ruhmanseder</span>
            </div>
        </div>
        <div class="message-search-container">
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/comment_color.svg" alt="">
                <span>Nachrichten</span>
                <div class="line-right"></div>
            </div>
            <div class="messages">
                <div>
                    <img src="../../../assets/img/tag_click.svg" alt="">
                    <span>Allgemein</span>
                </div>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolorem, vero aliquid, id
                    reprehenderit odit laudantium cumque quae natus aperiam tenetur voluptate! Aperiam recusandae quia
                    non ipsum, incidunt libero vero.</span>
            </div>
        </div>
    </div>
</div>