<div class="input-container">
    <input class="input-search" #searchInput (input)="input$.next(searchInput.value)" [(ngModel)]="inputValue"
        type="text" autocomplete="off">
    <div class="search-logo">
        <img src="../../assets/img/magnifying_glass.svg" alt="">
    </div>
    <div class="dropdown-menu" *ngIf="dropDownList">
        <div>
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/tag_click.svg" alt="">
                <span>Channels</span>
                <div class="line-right"></div>
            </div>
            <div class="channel">
                <img src="../../../assets/img/tag.svg" alt="">
                <img src="../../../assets/img/tag_click.svg" alt="">
                <span>Channelname</span>
            </div>
        </div>
        <div>
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/direct_message_logo_color.svg" alt="">
                <span>Users</span>
                <div class="line-right"></div>
            </div>
            <div class="users" *ngFor="let user of filteredUsers" >
                <app-user-pic class="user-pic-size" [status]="true" [online]="user.status"
                    [userImageName]="user.photoURL"></app-user-pic>
                <span>{{user.name}}</span>
            </div>
        </div>
        <div>
            <div class="dropdown-headline">
                <div class="line-left"></div>
                <img src="../../../assets/img/comment_color.svg" alt="">
                <span>Nachrichten</span>
                <div class="line-right"></div>
            </div>
            <div class="messages">
                <div>
                    <img src="../../../assets/img/tag_click.svg" alt="">
                    <span>Allgemein</span>
                </div>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos dolorem, vero aliquid, id
                    reprehenderit odit laudantium cumque quae natus aperiam tenetur voluptate! Aperiam recusandae quia
                    non ipsum, incidunt libero vero.</span>
            </div>
        </div>
    </div>
</div>