.side-menu {
    min-width: calc(366px - 30px - 30px);
    height: calc(100% - 30px - 30px);
    padding: 30px;
}

.workspace-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.workspace-description {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 15px;
}

.scroll-window {
    height: calc(100vh - 300px);
    overflow: scroll;
    scrollbar-width: none;
}

//hide the scrollbar still it is scrollable
::-webkit-scrollbar {
    width: 0px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .side-menu {
        width: calc(100vw - 60px);
        min-width: none;
        height: 100vh;
        padding: 30px;
    }

    .workspace-section {
        height: 50px;
    }

    .workspace-description {
        display: none;
    }

    .app-icon {
        display: none;
    }

    .scroll-window {
        height: calc(100vh - 205px);
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .side-menu {
        width: calc(100vw - 100px);
        min-width: none;
        padding: 30px;
    }

    .workspace-section {
        height: none;
    }

    .workspace-description {
        display: none;
    }

    .app-icon {
        display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .side-menu {
        min-width: calc(350px - 30px - 30px);
        height: calc(100% - 30px - 30px);
        //padding: 15px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .side-menu {
        width: calc(366px - 30px - 30px);
        padding: 30px;
    }

    .workspace-description {
        display: flex;
    }

    .app-icon {
        display: block;
    }

    .scroll-window {
        height: calc(100vh - 300px);
    }

    .workspace-section {
        height: none;
    }


}