<div class=" card side-menu ">
    <div class="workspace-section">
        <div class="workspace-description">
            <img class="logo" src="../../assets/img/workspace_logo.svg" alt="">
            <span>Code learning</span>
        </div>
        <app-icon-hover-change-image [unhovered]="'../../../assets/img/new_message_g.svg'"
            [hovered]="'../../../assets/img/new_message_g_hover.svg'"
            [onClick]="'../../../assets/img/new_message_g_click.svg'"></app-icon-hover-change-image>
    </div>
    <div class="scroll-window">
        <app-channel-view></app-channel-view>
        <app-direct-message-view></app-direct-message-view>
    </div>
</div>