<div class="header">
    <img src="./../../assets/img/logo_small.svg" alt="DABubble Logo">
</div>
<div class="choose-avatar-container">
    <img (click)="navigateToLogin()" class="arrow-back" src="./../../../assets/img/arrow_back.svg">
    <h1>Wähle deinen Avatar</h1>
    <div class="user-info">
        <img src="{{ defaultAvatar }}" alt="">
        <span>{{ this.LoginService.userName }}</span>
    </div>
    <div class="avatars-container">
        <span>Aus der Liste wählen</span>
        <div class="image-container">
            <div *ngFor="let avatar of avatars, index as i" (click)="chooseAvatar(avatar)">
                <img [src]="avatar">
            </div>
        </div>
        <div class="upload-container">
            <span>eigenes Bild verwenden</span>
            <div>
                <button class="btn-white">Datei hochladen</button>
            </div>
        </div>
    </div>
    <div class="submit-btn">
        <button class="btn-blue" (click)="saveAvatar()">Weiter</button>
    </div>
</div>
<div class="footer">
    <a class="link-btn" (click)="navigateToLegalNotice()">Impressum</a>
    <a class="link-btn" (click)="navigateToPrivacyPolicy()">Datenschutz</a>
</div>