.choose-avatar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: white;
    padding: 40px 50px;
    width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;

    .arrow-back {
        position: absolute;
        top: 40px;
        left: 24px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    h1 {
        margin: 0;
        font-size: 46px;
        color: #444DF2;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        img {
            width: 168px;
            height: 168px;
            border-radius: 100px;
            object-fit: contain;
        }

        span {
            font-size: 32px;
            font-weight: 700;
        }
    }

    .avatars-container {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .image-container {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 64px;
                height: 64px;
                border-radius: 41px;
                border: transparent 4px solid;
                transition: ease-in 100ms;

                &:hover {
                    cursor: pointer;
                    border: #E6E6E6 4px solid;
                }
            }
        }

        .upload-container {
            display: flex;
            justify-content: space-between;

            span {
                padding-right: 8px;
            }

            span,
            div {
                width: 50%;
                box-sizing: border-box;
            }
        }

        .alert {
            font-size: 14px;
            color: #ed1e79;
        }
    }
}

input[type="file"] {
    display: none;
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn-inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.confirmation-message {
    color: white;
    font-size: 36px;
    font-weight: 700;
    position: fixed;
    bottom: 150px;
    right: -500px;
    padding: 50px;
    border-radius: 30px 30px 0 30px;
    background-color: #444DF2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    z-index: 2;
    transition: right 0.5s ease-in-out;
    animation: slideIn 4s forwards;
}

@keyframes slideIn {
    0% {
        right: -500px;
        opacity: 0;
        visibility: hidden;
    }

    25% {
        right: 150px;
        opacity: 1;
        visibility: visible;
    }

    50% {
        right: 150px;
        opacity: 1;
        visibility: visible;
    }

    75% {
        right: 150px;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        right: -500px;
        opacity: 0;
        visibility: hidden;
    }
}

// responsive
@media(max-width: 768px) {
    .choose-avatar-container {
        font-size: 17px;

        h1 {
            font-size: 32px;
        }

        .avatars-container {
            font-size: 17px;
            gap: 10px;

            .image-container {
                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .upload-container {
                display: flex;
                justify-content: flex-start;

                span,
                div {
                    width: auto;
                }
            }
        }
    }

    .btn-white {
        padding: 6px 13px;
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .choose-avatar-container {
        width: 80%;
        padding: 35px 20px;
        gap: 15px;

        .arrow-back {
            top: 20px;
            left: 20px;
        }

        .user-info {
            img {
                width: 88px;
                height: 88px;
            }
        }

        .alert {
            color: #ed1e79;
            margin-top: -8px;
        }
    }

    .btn-blue {
        padding: 6px 13px;
        font-size: 16px;
    }

    h1 {
        margin-top: 28px !important;
    }

    .privacy-link {
        margin-left: 28px;
    }

    .confirmation-message {
        font-size: 22px;
        padding: 20px 30px;
        bottom: 75px;
        right: -500px;
        animation: slideInMobile 4s forwards;

        img {
            width: 21px;
            height: 18px;
        }
    }

    @keyframes slideInMobile {
        0% {
            right: -500px;
            opacity: 0;
            visibility: hidden;
        }

        25% {
            right: 25px;
            opacity: 1;
            visibility: visible;
        }

        50% {
            right: 25px;
            opacity: 1;
            visibility: visible;
        }

        75% {
            right: 25px;
            opacity: 0;
            visibility: hidden;
        }

        100% {
            right: -500px;
            opacity: 0;
            visibility: hidden;
        }
    }

}

@media(max-width: 480px) {
    .choose-avatar-container {
        width: 90%;
    }

    .confirmation-message {
        font-size: 16px;
        padding: 15px 23px;
    }
}

@media(max-height: 700px) {
    .login-content {
        font-size: 17px;

        .footer {
            margin: 4px;
        }
    }
}