.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-bottom {
    width: 100%;
    height: calc(100vh - 99px - 40px); // 99px is the height from the content-top section
    display: flex;

}