<div class="container">
    <div class="content-top">
        <app-header-menu></app-header-menu>
    </div>
    <div class="content-bottom">
        <app-side-menu [class.d-none]="!menuOpen" class="app-side-menu"></app-side-menu>
        <app-main-content class="main-content"></app-main-content>
    </div>
</div>
<div class="slide-button" (click)="toggle()">
    <span [class.d-none]="!menuOpen">Workspace-Menü schließen</span>
    <span [class.d-none]="menuOpen">Workspace-Menü öffnen</span>
    <div class="icon" [class.in]="!menuOpen" [class.out]="menuOpen"></div>
</div>