<div class="headline-container" mat-dialog-title>
    <div>
        # {{channelData.name}}
    </div>
    <div class="close-btn close-button" (click)="onNoClick()">
    </div>
</div>

<div mat-dialog-content>
    <div class="channel-name-container  mb-16" [ngClass]="{'channel-name-border': !editName}">
        <div class="head">
            <span class="channel-name">Channel name</span>
            <span class="edit" *ngIf="!editName" (click)="editChannel('name')">Bearbeiten</span>
            <span class="edit" for="name" *ngIf="editName" (click)="saveEdit('name')">Speichern</span>
        </div>
    
        <div class="name-container-title" *ngIf="!editName" >
             # <span>{{channelData.name}}</span>
        </div>

        <div *ngIf="editName" class="px-20 channel-name-border" style="position: relative;" >
            <span style="position: absolute;">#</span> <input type="text" id="name" class="name-input" [(ngModel)]="channelNameInput">
        </div>
    </div>
    
    <div class="channel-name-container " [ngClass]="{'channel-name-border': !editDescription}">
        <div class="head">
            <span class="channel-name">Channel description</span>
            <span class="edit" *ngIf="!editDescription" (click)="editChannel('description')">Bearbeiten</span>
            <span class="edit" *ngIf="editDescription" (click)="saveEdit('description')">Speichern</span>
        </div>
    
        <div class="name-container-title" *ngIf="!editDescription" >
            {{channelData.description}}
        </div>

        <div *ngIf="editDescription"  class="px-20 channel-name-border" >
            <input type="text" #description [(ngModel)]="channelDescriptionInput">
        </div>
    
        <div class="seperator"></div>
    
        <div class="creator-container">
            <span class="channel-name">Erstellt von</span>
            <span class="creator-text">{{this.users.getUserName(channelData.creator)}}</span>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions-container" *ngIf="this.channelData.users.length != 0">
    <button mat-button cdkFocusInitial class="leave-channel-btn" (click)="leaveChannel()">Channel verlassen</button>
</div>