<div class="headline-container" mat-dialog-title>
    <div>
        # {{channelData.name}}
    </div>
    <div class="close-btn" (click)="onNoClick()">
        Close
    </div>
</div>

<div mat-dialog-content>
    <div class="channel-name-container mb-16" >
        <div class="head">
            <span class="channel-name">Channel name</span>
            <span class="edit">Bearbeiten</span>
        </div>
    
        <div class="name-container-title">
            # <span>{{channelData.name}}</span>
        </div>
    </div>
    
    <div class="channel-name-container">
        <div class="head">
            <span class="channel-name">Channel description</span>
            <span class="edit">Bearbeiten</span>
        </div>
    
        <div class="name-container-title">
            {{channelData.description}}
        </div>
    
        <div class="seperator"></div>
    
        <div class="creator-container">
            <span class="channel-name">Erstellt von</span>
            <span class="creator-text">{{this.users.getUserName(channelData.creator)}}</span>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions-container">
    <button mat-button cdkFocusInitial class="leave-channel-btn">Channel verlassen</button>
</div>