.headline-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  position: relative;
  font-size: 24px;
  font-weight: 700;

  .close-btn {
    position: absolute;
    right: 24px;
    background-color: aqua;
    cursor: pointer;
  }
}

input {
  outline: none;
  border: none;
  font-size: 18px;
}

.channel-name-container {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(173, 176, 217);
  width: 50vw;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .edit {
      color: blue;
      cursor: pointer;
    }
  }

  .seperator {
    height: 1px;
    width: 100%;
    background-color: rgb(173, 176, 217);
    margin-block: 25px;
    margin-block: 30px;
  }

  .creator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .creator-text {
      font-size: 24px;
      color: rgb(83, 90, 241);
    }
  }
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .leave-channel-btn {
    background-color: rgb(83, 90, 241);
    color: white !important;
    border-radius: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
}

.channel-name {
  font-size: 18px;
  font-weight: 700;
}

.mb-16 {
  margin-bottom: 16px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px;
  border-top-left-radius: 0px;
  padding: 20px;
}
